@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-Metamorphous:'Metamorphous-Regular';
  --font-Wasted-Vindey:'Wasted-Vindey'
}

@layer components {
      .section{
        @apply px-4 sm:px-8 md:px-12
      }
}

body {
  @apply bg-neutral-900
}

@font-face {
  font-family: 'Metamorphous-Regular';
  src: url(/public/fonts/Metamorphous-Regular.ttf);
}
@font-face {
  font-family: 'Wasted-Vindey';
  src: url(/public/fonts/Wasted-Vindey.ttf);
}